[Unit]
Description=Daily Open WebUI users backup

[Timer]
Unit=owui-maintenance@backup-users.service
OnCalendar=*-*-* 18:00:00
Persistent=true
AccuracySec=1min

[Install]
WantedBy=timers.target
